@import url("https://fonts.googleapis.com/css2?family=Khula&display=swap");

:root {
   --primary: #4f46e5;
   --white: #efefef;
   --grey: #535c6a;
}

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

button {
   cursor: pointer;
}

.App {
   text-align: center;
   font-family: "Khula", sans-serif;
}

.bttn-primary {
   background-color: var(--primary);
   border-radius: 5rem;
   border-color: var(--primary);
   border-style: solid;
   color: var(--white);
   padding: 0.2rem 1rem;
   font: inherit;
}

.bttn-secondary {
   background-color: transparent;
   border-color: transparent;
   border-style: solid;
   color: inherit;
   font: inherit;
}
